default:
  suites:
    default:
      contexts:
        - Behat\MinkExtension\Context\MinkContext
        - OpenEuropa\TableContext\Context\TableContext:
            tableMap:
              'simple': '#simple-table'
              'Algarve': 'table:nth-of-type(2)'
              'Population data': 'table.countries'
              'Employees': '.employees > table'
              'Mad spanner': '.madspans'
  extensions:
    Behat\MinkExtension:
      goutte: ~
      base_url: http://localhost:8000
